{% extends "NewWolfEstoqueBundle::layout.html.twig" %}
{% block title %}Estoque | Produtos{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/newwolfestoque/css/style.datatables.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/newwolfestoque/css/dataTables.bootstrap.css') }}" rel="stylesheet">    
    <script src="{{ asset('bundles/newwolfestoque/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/jquery-datatables.responsive.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/select2.min.js') }}"></script>
    
    <script>
        var rowTable;
        jQuery(document).ready(function(){
            rowTable = jQuery('#produtosTable').DataTable({
                    responsive: true,
                    "ajax": "{{ path('produto_pagination') }}",
                    "ordering": false
             });
 

            // DataTables Length to Select2
            jQuery('div.dataTables_length select').removeClass('form-control input-sm');
            jQuery('div.dataTables_length select').css({width: '60px'});
            jQuery('div.dataTables_length select').select2({
                minimumResultsForSearch: -1
            });
            
            
            jQuery("#produtosTable_wrapper .row:first-child").append("<div class='col-xs-6'>"+jQuery("#produtosTable_wrapper .row:first-child .col-xs-6:first-child").html()+"</div>");
            jQuery("#produtosTable_wrapper .row:first-child .col-xs-6:first-child").remove();
            
            

        });
{#        function excluirProduto(id) {
            bootbox.confirm("Deseja realmente excluir este Produto?", function(result) {
                if (result) {
                    jQuery.post("{{ path('produto_delete') }}", {id: id}, function(data){
                        if (data.ok==1) {
                            location.href = "";
                        } else {
                            bootbox.alert(data.error);
                        }
                    }, "json");
                }
            });
        }
#}        
       
    </script>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-tags"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="{{ path('produto_index') }}">Produto</a></li>
                    <li>Lista de Produtos</li>
                </ul>
                <h4>Produtos</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="row">
            <div class="col-lg-12">
            <a href="{{ path('produto_new') }}" class="btn btn-primary"> Cadastrar produto </a>
            </div>
        </div>
        <div class="panel panel-success-head">
            <table id="produtosTable" class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 2%;" ></th>
                        <th><button class="btn btn-default"> Excluir </button></th>
                    </tr>
                </thead>
            </table>
        </div><!-- panel -->
     </div><!-- contentpanel -->
{% endblock %}
