{% extends 'base.html.twig' %}

{% block body %}
    <h1>Produto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produto.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ produto.codigo }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ produto.nome }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ produto.descricao }}</td>
            </tr>
            <tr>
                <th>Quantidademinima</th>
                <td>{{ produto.quantidadeMinima }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('produto_edit', { 'id': produto.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
