{% block _produto_precoVenda_row %}
    <div class="form-group {% if errors|length > 0 %} error {% endif %}">
        <label class="col-sm-3 control-label">{{ form_label(form) }}
            {% if required %}
                <span class="asterisk">*</span>
            {% endif %}
        </label>
        <div class="col-sm-5">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">R$</button>
                </span>
                {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
            </div><!-- input-group -->
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock _produto_precoVenda_row %}
{% block _produto_precoMedio_row %}
    <div class="form-group {% if errors|length > 0 %} error {% endif %}">
        <label class="col-sm-3 control-label">{{ form_label(form) }}
            {% if required %}
                <span class="asterisk">*</span>
            {% endif %}
        </label>
        <div class="col-sm-5">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">R$</button>
                </span>
                {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
            </div><!-- input-group -->
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock _produto_precoMedio_row %}
