{% extends "NewWolfEstoqueBundle::layout.html.twig" %}
{% block title %}Estoque | Categorias{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/newwolfestoque/css/style.datatables.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/newwolfestoque/css/dataTables.bootstrap.css') }}" rel="stylesheet">    
    <script src="{{ asset('bundles/newwolfestoque/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/jquery-datatables.responsive.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/select2.min.js') }}"></script>
    
    <script>
        var rowTable;
        jQuery(document).ready(function(){
            rowTable = jQuery('#categoriasTable').DataTable({
                    responsive: true,
                    "ajax": "{{ path('categoria_pagination') }}",
                    "ordering": false,
                    "autoWidth": false,
                    "fnDrawCallback": function(oSettings) {
                        jQuery('#categoriasTable tbody :checkbox').change(desmarcaSelectAll);
                    },
             });            
        });
        
{#        function excluirProduto(id) {
            bootbox.confirm("Deseja realmente excluir este Produto?", function(result) {
                if (result) {
                    jQuery.post("{{ path('produto_delete') }}", {id: id}, function(data){
                        if (data.ok==1) {
                            location.href = "";
                        } else {
                            bootbox.alert(data.error);
                        }
                    }, "json");
                }
            });
        }
#}        
       
    </script>
    <script src="{{ asset('bundles/newwolfestoque/js/custom-table-list.js') }}"></script>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-list-ul"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="{{ path('produto_index') }}">Produtos</a></li>
                    <li><a href="{{ path('categoria_index') }}">Categorias</a></li>
                    <li>Lista de Categorias</li>
                </ul>
                <h4>Categorias</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="row">
            <div class="col-lg-12">
            <a href="{{ path('categoria_new') }}" class="btn btn-primary"> Cadastrar Categoria </a>
            </div>
        </div>
        <div class="panel panel-success-head">
            <table id="categoriasTable" class="table table-hover">
                <thead>
                    <tr>
                        <th style="width: 21px;" >
                            <div class="ckbox ckbox-default">
                                <input type="checkbox" id="select-all" value="1">
                                <label for="select-all">&nbsp;</label>
                            </div>
                        </th>
                        <th><button class="btn btn-default"> Excluir </button></th>
                    </tr>
                </thead>
            </table>
        </div><!-- panel -->
     </div><!-- contentpanel -->
{% endblock %}
