{% block _cadastro_nome_widget %}
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    {{ form_widget(form, { 'attr': {'class': 'form-control', 'placeholder': 'Seu Nome/Empresa'} }) }}
{% endblock _cadastro_nome_widget %}

{% block _cadastro_email_widget %}
    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
    {{ form_widget(form, { 'attr': {'class': 'form-control', 'placeholder': 'Seu e-mail'} }) }}
{% endblock _cadastro_email_widget %}

{% block _cadastro_senha_widget %}
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>    
    {{ form_widget(form, { 'attr': {'class': 'form-control', 'placeholder': 'Sua Senha'} }) }}
{% endblock _cadastro_senha_widget %}


{% block form_row %}
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group mb15 {% if errors|length > 0 %}has-error{% endif %}">
            {{ form_widget(form) }}
            </div><!-- input-group -->
            {{ form_errors(form) }}
        </div>
    </div><!-- row -->
    <br />
{% endblock form_row %}

{% block form_errors %}
        {% if errors|length > 0 %}
            {% for error in errors %}
            <label class="error">{{ error.message }}</label>
            {% endfor %}
        {% endif %}
{% endblock form_errors %}
