<!DOCTYPE html>
{% form_theme form 'NewWolfEstoqueBundle:/Cadastro:fields.html.twig' %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Nutrivida RS | Cadastro</title>
        
        <script src="{{ asset('bundles/newwolfestoque/js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ asset('bundles/newwolfestoque/js/jquery-migrate-1.2.1.min.js') }}"></script>
        <script src="{{ asset('bundles/newwolfestoque/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/newwolfestoque/js/modernizr.min.js') }}"></script>
        <script src="{{ asset('bundles/newwolfestoque/js/pace.min.js') }}"></script>
        <script src="{{ asset('bundles/newwolfestoque/js/jquery-ui-1.10.3.min.js') }}"></script>        <script src="{{ asset('bundles/newwolfestoque/js/retina.min.js') }}"></script>
        <script src="{{ asset('bundles/newwolfestoque/js/jquery.cookies.js') }}"></script>
        <script src="{{ asset('bundles/newwolfestoque/js/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('bundles/newwolfestoque/js/messages_ptbr.js') }}"></script>
        <script src="{{ asset('bundles/newwolfestoque/js/validate/additional-methods.js') }}"></script>
        <script src="{{ asset('bundles/newwolfestoque/js/custom.js') }}"></script>

        
        <link href="{{ asset('bundles/newwolfestoque/css/style.default.css') }}" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/newwolfestoque/js/html5shiv.js') }}"></script>
        <script src="{{ asset('bundles/newwolfestoque/js/respond.min.js') }}"></script>
        <![endif]-->
        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('#loading').hide();

                jQuery("#cadastro").validate({
                    highlight: function(element) {
                        jQuery(element).closest('.input-group').removeClass('has-success').addClass('has-error');
                    },
                    success: function(element) {
                        jQuery(element).closest('.input-group').removeClass('has-error');
                    },
                    errorPlacement: function(error, element) {
                        jQuery(element).closest('.input-group').parent().append(error).remo;
                    },
                    submitHandler: function(form) {
                        jQuery("#salvar").hide();
                        jQuery('#loading').show();
                        form.submit();
                   }
                });

            });

        </script>
        
    </head>

    <body class="signin">
        <section>
            <div class="panel panel-signin">
                <div class="panel-body">
                    <div class="logo text-center">
                        <img src="{{ asset('bundles/newwolfestoque/images/logo-primary.png') }}" />
                    </div>
                    <br />
                    <h4 class="text-center mb5">Crie sua conta</h4>
                    <p class="text-center">Comece agora mesmo a gerenciar seus produtos e mercadorias</p>
                    
                    <div class="mb30"></div>
                    
                    <form id="cadastro" action="" method="post">
                        {{ form_row(form.nome) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.senha) }}
                        <div class="clearfix">
                            <div class="pull-left">
                                <div class="ckbox ckbox-primary mt5">
                                    <input type="checkbox" id="agree" value="1">
                                    <label for="agree">Eu aceito os <a href="">Termos e condições de uso</a></label>
                                </div>
                            </div>
                            <div class="pull-right">
                                <img src="{{ asset('bundles/newwolfestoque/images/loading.gif') }}" id="loading" alt="Carregando" />
                                <button id="salvar" type="submit" class="btn btn-success">Criar nova conta <i class="fa fa-angle-right ml5"></i></button>
                            </div>
                        </div>
                        {{ form_errors(form) }}
                        {{ form_row(form._token) }}
                        
                    </form>
                    
                </div><!-- panel-body -->
            </div><!-- panel -->
        </section>
    </body>
</html>
