{% extends "NewWolfEstoqueBundle::layout.html.twig" %}
{#{% form_theme form 'NewWolfEstoqueBundle:/Form:fields.html.twig' %}#}
{% block title %}Estoque | Convite{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/newwolfestoque/css/basic.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/newwolfestoque/css/dropzone.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/newwolfestoque/css/bootstrap-wysihtml5.css') }}" rel="stylesheet" />
    
        <link href="{{ asset('bundles/newwolfestoque/js/fineUPload/fine-uploader-new.css') }}" rel="stylesheet">

    <!-- Fine Uploader jQuery JS file
    ====================================================================== -->

    <script src="{{ asset('bundles/newwolfestoque/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/dropzone.min.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/jquery.maskMoney.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/fineUPload/jquery.fine-uploader.js') }}"></script>
    <script type="text/template" id="qq-template-gallery">
        <div class="qq-uploader-selector qq-uploader " qq-drop-area-text="Drop files here">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector">Solte os arquivos aqui</span>
            </div>
            <div class="qq-upload-button-selector btn btn-primary">
                <div>Selecione ou Arraste uma Imagem</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                    <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <div class="qq-thumbnail-wrapper">
                        <img class="qq-thumbnail-selector" qq-max-size="120" qq-server-scale>
                    </div>
                    <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
                    <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                        <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                        Retry
                    </button>

                    <div class="qq-file-info">
                        <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                            <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                            <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                        </button>
                        <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                            <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                        </button>
                    </div>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Close</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Yes</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancel</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#loading').hide();
            jQuery('select').select2();
            jQuery('.select2-container').removeClass("form-control").css("width", "100%")

            jQuery("#basicForm").validate({
                highlight: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                },
                errorPlacement: function(error, element) {
                    jQuery(element).closest('.form-group').append(error);
                },
                validClass: "",
                submitHandler: function(form) {
                    jQuery("#salvar").hide();
                    jQuery('#loading').show();
                    form.submit();
               }
            });
            
        });
        
    </script>
{% endblock %}

{% block mainpanel %}
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-edit"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="{{ path('usuario_index') }}">Usuários</a></li>
                <li>Usuário Convite</li>
            </ul>
            <h4>Convite</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" class="form-horizontal form-bordered" id="basicForm" action="">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Imagem
                                    <span class="asterisk">*</span>
                            </label>
                            <div class="col-sm-5">
                                <div id="fine-uploader-gallery"></div>
                            </div>
                        </div>
                        
                    </div><!-- row -->
                </div><!-- panel-body -->
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <img src="{{ asset('bundles/newwolfestoque/images/loading.gif') }}" id="loading" alt="Carregando" />
                        <button id="salvar" class="btn btn-primary mr5">Salvar</button>
                        <button type="button" onclick="history.back()" class="btn btn-default mr5">Cancelar</button>
                    </div>
                  </div>
                </div><!-- panel-footer -->  
            </div><!-- panel -->
            </form>

        </div><!-- col-md-12 -->
    </div><!-- row -->
</div><!-- contentpanel -->
    <script>
        jQuery('#fine-uploader-gallery').fineUploader({
            template: 'qq-template-gallery',
            request: {
                endpoint: './chunk.php'
            },
            chunking: {
                enabled: true,
                mandatory: true,
                partSize: 20000,
                success: {
                    endpoint: './upload.php?done'
                },
                concurrent: {
                    enabled: true,
                },
            },
            retry: {
            },
            concurrent: {
                enabled: true,
            },
            retry: {
                enableAuto: true,
            },
            thumbnails: {
                placeholders: {
                    
                    waitingPath: '{{ asset('bundles/newwolfestoque/js/fineUPload/placeholders/waiting-generic.png') }}',
                    notAvailablePath: '{{ asset('bundles/newwolfestoque/js/fineUPload/placeholders/not_available-generic.png') }}'
                }
            },
            validation: {
                allowedExtensions: ['jpeg', 'jpg', 'gif', 'png']
            }
        });
    </script>
{% endblock %}