{% extends "NewWolfEstoqueBundle::layout.html.twig" %}
{% block title %}Estoque | Usuários{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/newwolfestoque/css/style.datatables.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/newwolfestoque/css/dataTables.bootstrap.css') }}" rel="stylesheet">    
    <script src="{{ asset('bundles/newwolfestoque/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/jquery-datatables.responsive.js') }}"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/select2.min.js') }}"></script>    
    <script>
        var rowTable;
        jQuery(document).ready(function(){
            rowTable = jQuery('#usuariosTable').DataTable({
                    "responsive": true,
                    "ajax": "{{ path('usuario_pagination') }}",
                    "ordering": false,
                    "autoWidth": false,
                    "fnDrawCallback": function(oSettings) {
                        jQuery('#usuariosTable tbody :checkbox').change(desmarcaSelectAll);
                    },
                    "columns": [
                        { "data": 0},
                        { "data": 1 },
                        { "data": 2 },
                        { "data": 3 }
                    ]

            });
        });
        function excluirProduto(id) {
            bootbox.confirm("Deseja realmente excluir este Usuário?", function(result) {
                if (result) {
                    jQuery.post("{{ path('usuario_excluir') }}", {id: id}, function(data){
                        if (data.ok==1) {
                            location.href = "";
                        } else {
                            bootbox.alert(data.error);
                        }
                        
                    }, "json");
                }
            });
        }
        
       
    </script>
    <script src="{{ asset('bundles/newwolfestoque/js/custom-table-list.js') }}"></script>

{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-users"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="">Usuário</a></li>
                    <li>Lista de Usuários</li>
                </ul>
                <h4>Usuários</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ path('usuario_form') }}" class="btn btn-primary">Convidar Usuários</a>
            </div>
        </div>
        <div class="panel panel-success-head">
            <table id="usuariosTable" class="table table-hover">
                <thead>
                    <tr>
                        <th style="width: 21px;" >
                            <div class="ckbox ckbox-default">
                                <input type="checkbox" id="select-all" value="1">
                                <label for="select-all">&nbsp;</label>
                            </div>
                        </th>
                        <th colspan="3"><button class="btn btn-default"> Excluir </button></th>
                    </tr>
                </thead>
            </table>
        </div><!-- panel -->
     </div><!-- contentpanel -->
{% endblock %}
