
{% block _nivel_permissoes_widget %}
{% spaceless %}
    {% if expanded %}
        <div>
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock _nivel_permissoes_widget %}


{% block _usuario_ativo_widget %}
{% spaceless %}
    {% if expanded %}
        <div>
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock _usuario_ativo_widget %}

{% block radio_widget %}
{% spaceless %}
    <div class="radio">
        <label  for="{{ id }}"><input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans }}</label>
    </div>
{% endspaceless %}
{% endblock radio_widget %}

{% block checkbox_widget %}
{% spaceless %}
    <div class="checkbox block">
        <label  for="{{ id }}"><input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans }}</label>
    </div>
{% endspaceless %}
{% endblock checkbox_widget %}



{% block form_row %}
    <div class="form-group {% if errors|length > 0 %} error {% endif %}">
        <label class="col-sm-3 control-label">{{ form_label(form) }}
            {% if required %}
                <span class="asterisk">*</span>
            {% endif %}
        </label>
        <div class="col-sm-5">
            
            {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
            {% if form.vars['attr']['help'] is  defined %}
                <span class="help-block">{{ form.vars['attr']['help'] }}</span>
            {% endif %}
                
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock form_row %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
            <label class="error">{{ error.message }}</label>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}



