<div class="leftpanel">

    <h5 class="leftpanel-title">Menu</h5>
    <ul class="nav nav-pills nav-stacked">
        
        <li {% if app.request.get('_route') == 'index' %} class="active"{% endif %}>
            <a href="{{ path('index') }}">
                <i class="fa fa-home"></i> <span>Home</span>
            </a>
        </li>
        {% if 'ROLE_PRODUTO' in app.user.getRoles %}
        <li class="parent {% if app.request.get('_route') in ['produto_new', 'produto_index', 'categoria_index', 'fornecedor_index'] %} active {% endif %}">
            <a href=""><i class="fa fa-tags"></i> <span>Produtos</span></a>
            <ul class="children">
                <li {% if app.request.get('_route') == 'produto_new'%} class="active" {% endif %}><a href="{{ path('produto_new') }}">Novo</a></li>
                <li {% if app.request.get('_route') == 'produto_index' %} class="active" {% endif %}><a href="{{ path('produto_index') }}">Lista</a></li>
                <li {% if app.request.get('_route') == 'categoria_index' %} class="active" {% endif %}><a href="{{ path('categoria_index') }}">Categorias</a></li>
                <li {% if app.request.get('_route') == 'fornecedor_index' %} class="active" {% endif %}><a href="{{ path('fornecedor_index') }}">Forncedores</a></li>
            </ul>
        </li>
        {% endif %}
        <li>
            <a href="{{ path("entrada_index") }}">
                <i class="glyphicon glyphicon-log-in"></i> <span>Entradas</span>
            </a>
        </li>
        <li>
            <a href="{{ path("saida_index") }}">
                <i class="glyphicon glyphicon-log-out"></i> <span>Saidas</span>
            </a>
        </li> 
        {% if 'ROLE_USUARIO' in app.user.getRoles  %}
        <li class="parent {% if app.request.get('_route') starts with 'usuario' %} active {% endif %}">
            <a href=""><i class="fa fa-users"></i> <span>Usuários</span></a>
            <ul class="children">
                <li {% if app.request.get('_route') == 'usuario_index' %} class="active" {% endif %}><a href="{{ path('usuario_index') }}">Listar</a></li>
                <li {% if app.request.get('_route') == 'usuario_form'%} class="active" {% endif %}><a href="{{ path('usuario_form') }}">Cadastrar</a></li>
            </ul>
        </li>
        {% endif %}
        {% if 'ROLE_NIVEL' in app.user.getRoles %}
        <li>
            <a href="{{ path("_nivel") }}">
                <i class="fa  fa-gear"></i> <span>Configurações</span>
            </a>
        </li>
        {% endif %}
    </ul>

</div><!-- leftpanel -->
