{% extends "NewWolfEstoqueBundle::layout.html.twig" %}
{% form_theme form 'NewWolfEstoqueBundle:/Form:fields.html.twig' 'NewWolfEstoqueBundle:/Saida:tempalte-form.hmtl.twig'  %}
{% block title %}Estoque | Saída{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/newwolfestoque/css/basic.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/newwolfestoque/css/dropzone.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/newwolfestoque/css/bootstrap-wysihtml5.css') }}" rel="stylesheet" />
    <script src="{{ asset('bundles/newwolfestoque/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/dropzone.min.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/jquery.maskMoney.js') }}"></script>
    <script src="{{ asset('bundles/newwolfestoque/js/select2.min.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#loading').hide();
            jQuery('select').select2();
            jQuery('.select2-container').removeClass("form-control").css("width", "100%")
            jQuery("#saida_dataSaida").mask("99/99/9999").datepicker();;
            jQuery("#saida_valorVenda").maskMoney({thousands:'.', decimal:','});
            jQuery("#saida_quantidade").keyup(function(){
                var valor = jQuery(this).val();
                jQuery(this).val(valor.replace(/[^\d]/gi, ""));
            }).spinner({ min:1 });
            
            jQuery("#basicForm").validate({
                rules: {
                    'saida[quantidade]': {min: 1}
                },
                messages: {
                    'saida[produto]': "Selecione um Produto"
                },
                highlight: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                },
                errorPlacement: function(error, element) {
                    jQuery(element).closest('.form-group').append(error);
                },
                validClass: "",
                submitHandler: function(form) {
                    var valor = jQuery("#saida_valorVenda").maskMoney('unmasked')[0];
                    jQuery("#saida_valorVenda").maskMoney('destroy');
                    jQuery("#saida_valorVenda").val(valor);
                    jQuery("#salvar").hide();
                    jQuery('#loading').show();
                    form.submit();
               }
            });
            
        });
        
    </script>
{% endblock %}

{% block mainpanel %}
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-edit"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href="{{ path('index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="{{ path('saida_index') }}">Saídas</a></li>
                <li>{{ saida.getid>0 ? "Editar" : "Cadastrar" }} Saída</li>
            </ul>
            <h4>{{ saida.getid>0 ? "Editar" : "Cadastrar" }} Saída</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" class="form-horizontal form-bordered" id="basicForm" action="">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        {{ form_row(form.produto) }}
                        {{ form_row(form.quantidade) }}
                        {{ form_row(form.dataSaida) }}
                        {{ form_row(form.valorVenda) }}
                        {{ form_row(form.desconto) }}
                        {{ form_row(form._token) }}
                        {{ form_errors(form) }}
                    </div><!-- row -->
                </div><!-- panel-body -->
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <img src="{{ asset('bundles/newwolfestoque/images/loading.gif') }}" id="loading" alt="Carregando" />
                        <button id="salvar" class="btn btn-primary mr5">Salvar</button>
                        <button type="button" onclick="history.back()" class="btn btn-default mr5">Cancelar</button>
                    </div>
                  </div>
                </div><!-- panel-footer -->  
            </div><!-- panel -->
            </form>

        </div><!-- col-md-12 -->
    </div><!-- row -->
</div><!-- contentpanel -->
{% endblock %}